<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Saint Johns Electric is a team of trained and licensed residential electrical contractors serving Nassau County, NY and surrounding communities, providing electrical maintenance and installation for new and existing homes.">
    <meta name="keywords" content="electrician, electrical contractors, electric, repair, maintenance, installation, whole house, whole home, surge protector, surge suppressor, backup generator, back-up generator,lynbrook, malverne, rockville centre, security systems, camera systems, alarm systems">

    <!-- Material Design fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:light">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-material-design.css">
    <link rel="stylesheet" type="text/css" href="assets/css/ripples.min.css">
    <!-- Font Awesome for Icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <!-- Personal Styling -->
    <link rel="stylesheet" href="assets/css/styles.css">

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>Saint John's Electric, Lynbrook NY 11563 </title>
</head>