<header>
  <nav class="navbar navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="20">
    <div class="container navbar-container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >
          <span style="font-size: 0; line-height: 0;"> Navigation </span>
          <i class="fa fa-2x fa-bars icon"></i>

        </button>
        <div class="logo-banner">
          <a href="/#home">
            <img src='/assets/img/logo-small.png' alt='St. Johns Electric logo'> 
          </a>
        </div>
      </div>
      <div id="site-menu" class="navbar-collapse collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li class="scroll active">
            <a href="/#home">HOME</a>
          </li>
          <li class="scroll">
            <a href="/#about-landing">ABOUT</a>
          </li>
          <li class="scroll">
            <a href="/#services-landing">SERVICES</a>
          </li>
          <li class="scroll">
            <a href="/#testimonials-landing">TESTIMONIALS</a>
          </li>
          <li class="scroll">
            <a href="/#contact-landing">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>